#wheels-debug-area{
	display: none;
}

body{
	background: #000 url(/images/background.jpg) fixed no-repeat;
	background-position:top center;
	font-family: Folks-BoldFolks-Bold;	
}

body#profile{
	background: black;
}

#wrapper{
	background: black;
	color: white;
	margin: 0px auto;
	width: 960px;
}

h2{
	font-size: 16px;
}

h5{
	font-size: 16px;
	font-weight: bold;
}

h7{
	font-size: 20px;
	color:#F00;
}
.greeting{
	margin: 0px 0 20px 0;
	padding: 2px;
}
#header{
	float: left;
	height: 117px;
	width: 960px;
}

#logo{
	background: url(/images/logo.png);
	display: block;
	float: left;
	height: 117px;
	text-indent: -999em;
	width: 335px;
}

#header-banner{
	background: url(/images/banner.jpg);
	display: block;
	float: right;
	height: 90px;
	margin: 15px 55px 0 0;
	width: 528px;
}

#profile #header{
	float: left;
	height: 50px;
	width: 960px;
}

#profile #logo{
	background: url(/images/logosmall.png) no-repeat;
	display: block;
	float: left;
	height: 50px;
	width: 327px;
}

#profile #header-banner{
	display: none;
	height: 50px;
}

#profile #company-banner{
	background: url(/images/profilebanner.jpg);
	display: block;
	float: left;
	height: 300px;
	width: 960px;
}

.ajaxLoader{
	background: url('/images/ajax-loader.gif');
	display: none;
	height: 55px;
	position: absolute;
	width: 55px;
}

#email-box{
	display: none;
}

.coupon-box{
	background: white;
	color: black;
	display: block;
	float: left;
	height: 180px;
	margin: 0 45px 45px 0;
	padding: 10px;
	width: 170px;
	
	-webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    
    behavior: url(/lib/PIE.htc);
}

.coupon-image{
	background: black;
	display: block;
	float: left;
	height: 129px;
	margin: 0 0 10px 0;
	overflow: hidden;
	width: 170px;
}

.left{
	float: left;
	width: 65%;
}

.right{
	float: left;
	width: 35%;
}

#profile-bar{
	background: #ff0000;
	border: 1px solid #ff0000;
	display: block;
	float: left;
	height: 55px;
	padding: 8px 5px 5px 8px;
	width: 947px;
	
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    
    behavior: url(/lib/PIE.htc);
}

#deal-title{
	font-size: 26px;
}


#btnSendCoupon{
	background: #0096ff;
	border: 1px solid #0096ff;
	color: white;
	display: block;
	/*height: 22px;*/
	padding: 2px;
	text-align: center;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    behavior: url(/lib/PIE.htc);
}

/* Form. */
label{
	display: block;
	float: left;
	line-height: 22px;
}

input[type='text']{
	float: left;
	margin: 0 5px;
}

input[type='submit']{
	cursor: pointer;
}

.fine-print{
	color: #0096ff;
	font-size: 12px;
	margin: 10px 0;
	width: 560px;
}

#content{
	background: white;
	color: black;
	float: left;
	margin: 0 0 10px 5px;
	padding: 10px;
	width: 930px;
	
	-webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    
    behavior: url(/lib/PIE.htc);
	
}

.overview{
	font-size: 12px;
	line-height: 1.4em;
	margin: 5px 0 0 0;
	width: 520px;
}

#couponLink{
	color: white;
}

#company-location{
	text-align: right;
	font-size: 14px;
	line-height: 1.2em;
	margin: 10px 0 10px 0;
}

#map_canvas{
	display: block;
	float: left;
	height: 300px;
}

#campaign-info{
	float: left;
	height: 40px;
	font-size: 22px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 10px;
	width: 950px;
}

#main{
    display: block;
    float: left;
    margin: 40px 0 0 0;
    padding: 10px 0 0 10px;
    width: 950px;
}


#profile #main{
	margin: 5px 0 0 0;
	padding: 0px;
}

body#admin{
	background: black;
}

#admin form{
	background: #efefef;
	display: block;
	padding: 20px;
}

#admin label{
	clear: both;
	color: black;
	display: block;
	float: left;
	font-size: 14px;
	width: 150px;
}

#admin input{
	clear: both;
	float: left;
	margin: 0 0 10px 0;
	width: 150px;
}

#admin select{
	clear: both;
	float: left;
	margin: 0 0 10px 0;
	width: 150px;
}

#admin textarea{
	clear: both;
	float: left;
	height: 120px;
	margin: 0 0 10px 0;
	padding: 5px;
	width: 460px;
}

.form-line{
	background: #efefef;
	float: left;
	width: 320px;
}

.clear{
	clear: both;
}

#adminMenu{
	float: left;
}

#adminMenu li{
	color: #0099ff;
	float: left;
	list-style: none;
	text-decoration: none;
	margin: 20px 20px 0 10px;
}

#adminMenu li a{
	color: #0099ff;
}

#adminMenu li a:hover{
	cursor: pointer;
	text-decoration: underline;
}

#admin-content{
	background: #efefef;
	color: black;
	padding: 10px;
}

#admin-content ul{
	font-size: 14px;
	list-style: none;
	margin: 20px 0 0 0;
}

#admin-content ul li{
	height: 22px;
	line-height: 22px;
}

#admin-content ul li.dark{
	background: #ccc;
}

#image-section{
	background: #ccc;
	color: #333;
	display: block;
	float: right;
	/*height: 120px;*/
	margin: 240px 0 0 250px;
	padding: 10px;
	position: absolute;
	width: 620px;
}

#image-section ul li{
	float: left;
	list-style: none;
	margin: 20px 0 20px 0;
}

.banner-thumb{
	background: #333;
	display: block;
	float: left;
	height: 60px;
	margin: 0 40px 0 0;
	overflow: hidden;
	width: 200px;
}

.banner-text{
	background: #efefef;
	display: block;
	float: left;
	font-size: 12px;
	height: 60px;
	margin: 0 20px 0 0px;
	width: 200px;
}

.bannerTextDisplay{
	padding: 10px;
}

.actions{
	float: left;
}

#edit-banner{
}

#save-banner{
	display: none;
}

#uploadForm{
	background: #000;
	border: 1px solid #333;
	display: block;
	left: 600px;
	position: absolute;
	top: 200px;
	width: 500px;
	z-index: 100;
}

#uploadForm form{
	background: #333;
}

#uploadForm a#clear{
	color: white;
	margin: 20px 0 0 0;
}

#admin .bannerText{
	display: none;
	height: 50px;
	width: 200px;
}

#image-profile-section{
	background: #ccc;
	color: black;
	float: left;
	margin: 20px 0 0 250px;
	padding: 10px;
	position: absolute;
	width: 620px;
}
