#wheels-debug-area{
	display: none;
}

body{
	background: black;	
}

#wrapper{
	background: black;
	color: white;
	margin: 0px auto;
	width: 960px;
}

#header{
	background: red;
	float: left;
	height: 117px;
	width: 960px;
}

#logo{
	background: white;
	display: block;
	float: left;
	height: 117px;
	width: 327px;
}

#header-banner{
	background: white;
	display: block;
	float: right;
	height: 117px;
	margin: 0 20px 0 0;
	width: 468px;
}

#profile #header{
	background: red;
	float: left;
	height: 50px;
	width: 960px;
}

#profile #logo{
	background: white;
	display: block;
	float: left;
	height: 50px;
	width: 327px;
}

#profile #header-banner{
	display: none;
	height: 50px;
}

#profile #company-banner{
	background: #0c89f5;
	display: block;
	float: left;
	height: 300px;
	width: 960px;
}

.ajaxLoader{
	background: url('/images/ajax-loader.gif');
	display: none;
	height: 55px;
	position: absolute;
	width: 55px;
}

#email-box{
	display: none;
}

.coupon-box{
	background: white;
	color: black;
	display: block;
	float: left;
	height: 180px;
	margin: 0 50px 50px 0;
	padding: 10px;
	width: 170px;
}

.coupon-image{
	background: #8ac2e4;
	display: block;
	float: left;
	height: 129px;
	margin: 0 0 10px 0;
	width: 170px;
}