body{
	background: #000;
	font-family: Folks-BoldFolks-Bold;
}

#wheels-debug-area{
	display: none;
}

#feedback{
	background: #efefef;
	border: 1px solid #999;
	display: none;
	padding: 5px;
	margin: 0 0 10px 0;
}

.errorMessages{
	color: red;
	font-family: "Arial";
}

#wrapper{
	background: black;
	color: white;
	/*margin: 0px auto;*/
	width: 100%;
}

h2{
	font-size: 16px;
}

h5{
	font-size: 16px;
	font-weight: bold;
}

h7{
	font-size: 20px;
	color:#F00;
}
.greeting{
	margin: 10px 0 20px 0;
	padding: 2px;
}
#header{
	float: left;
	height: 55px;
	width: 100%;
}

#logo{
	background: url(/images/logosmall.png) no-repeat;
	display: block;
	float: left;
	height: 50px;
	text-indent: -999em;
	width: 215px;
}

#header-banner{
	background: url(/images/banner.jpg) #fff;
	display: block;
	height: 60px;
	bottom: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
}

.coupon-box{
	background: white;
	color: black;
	display: block;
	float: left;
	height: 120px;
	margin: 0 25px 25px 0;
	padding: 10px;
	width: 110px;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    behavior: url(/lib/PIE.htc);
}

.coupon-image{
	background: black;
	display: block;
	float: left;
	height: 90px;
	margin: 0 0 10px 0;
	overflow: hidden;
	width: 110px;
}

.coupon-image img{
	width: 120px;
}

.left{
	clear: both;
	float: left;
	width: 95%;
}

.right{
	clear: both;
	float: left;
	width: 95%;
}

#profile-bar{
	background: #ff0000;
	border: 1px solid #ff0000;
	display: block;
	float: left;
	min-height: 55px;
	padding: 8px 5px 5px 8px;
	width: 100%;
	
    /*-webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    
    behavior: url(/lib/PIE.htc);*/
}

#deal-title{
	font-size: 26px;
}

#btnSendCoupon{
	background: #0096ff;
	border: 1px solid #0096ff;
	color: white;
	display: block;
	float: left;
	/*height: 22px;*/
	padding: 4px 2px;
	text-align: center;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    behavior: url(/lib/PIE.htc);
}

#profile #logo{
	background: url(/images/logosmall.png) no-repeat;
	display: block;
	float: left;
	height: 50px;
	width: 150px;
}

#profile #header-banner{
	display: none;
	height: 50px;
}

#profile #company-banner{
	background: url(/images/profilebanner.jpg);
	display: block;
	float: left;
	height: 120px;
	margin: 0 5px 0 0;
	width: 215px;
}

#email-box{
	display: none;
}

/* Form. */
label{
	display: block;
	float: left;
	line-height: 22px;
	font-size: 15px;
}

input[type='text']{
	float: left;
	margin: 2px 5px 0 0;
	padding: 3px 2px;
	width: 150px;
}

input[type='submit']{
	cursor: pointer;
}

.fine-print{
	color: #0096ff;
	font-size: 12px;
	margin: 10px 0;
	width: 215px;
}

#content{
	background: white;
	color: black;
	float: left;
	margin: 0 0 10px 0;
	padding: 10px;
	width: 100%;
	
	-webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    
    behavior: url(/lib/PIE.htc);
	
}

.overview{
	font-size: 12px;
	line-height: 1.4em;
	margin: 5px 0 20px 0;
}

#couponLink{
	color: white;
}

#company-location{
	text-align: center;
	font-size: 14px;
	line-height: 1.2em;
	margin: 10px 0 10px 0;
}

#map_canvas{
	display: block;
	float: left;
	height: 300px;
}

#campaign-info{
	float: left;
	height: 40px;
	font-size: 22px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 10px;
	width: 100%;
}

#main{
    display: block;
    float: left;
    margin: 40px 0 0 0;
    padding: 10px 0 40px 10px;
    width: 100%;
}

a{
	text-decoration: none;
}


#profile #main{
	margin: 5px 0 0 0;
	padding: 0px;
}
